body{
box-sizing: border-box;
width: 98.8vw;
padding: 0;
margin: 0;
text-align: center;
background-color: #dadad8;
}

header{
    height: 400px;
    width: 100%;
    background-image: url(../../imagenes/trabajando.webp);
    background-size: cover;
    background-attachment: fixed;

}

.filtro{
    width: 100%;
    height: 100%;
    background: rgba(28, 28, 98, 0.14);
    backdrop-filter: blur(5px);
    color: blanchedalmond;
}

.nav{
    width: 100%;
    height: 70px;
    background: #1a081f75;
}

.cont-elementos .cont-encabezado h1{
    color: #f15500;
    margin-top: 5%;
}

.cont-encabezado{
    height:250px;
    font-family: merri;
}
h3{
    font-family: merribig;
    font-size: 1rem;
}


.cont-encabezado h2{
    color:#ffffff;
    margin-top: 10%;
}
.cont-encabezado h1{
    color:#1a081f;
}

.iconos{
    height: 50px;
    background-color:aliceblue;
}

main{
width: 100%; 
background-color: #f5f5f5;


}
 

@media (max-width: 600px) {
    .nav{
        width: 60%;
        height: 300px;
        flex-direction: column;
        padding: 10px;
        flex-wrap: nowrap;
        position: absolute;
    }
     .displaynone{
    transform: translateX(-350px);
}
}


/* contenedor ventajas*/
.cont-textoPersuasivo{


}
.ventajasTexto{
    flex-wrap: wrap;
}

.card-body{

}
.card-header{
    padding: 10px;

}

.card-header img{
    width: 100px;
}

.card-g{
    width: 300px;
    padding: 10px;
    margin-left: 10px;
    text-align: justify;
    font-family: merri;
}


@media (max-width:600px) {
    .cont-ventajas{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .card-g{
        margin: 0;
    }
    
}


/*servicios */
.servicios{
    margin-top: 20px;
    padding: 5px;
    font-family: merri;
    margin-bottom: 50px;

}

.cont-servicios{
    gap: 20px;
    margin-top: 20px;
}

.card-cont{
    width: 300px;
    height: auto;
    line-height: 2rem;
    background: white;   
    padding: 10px; 
    opacity: 100%;
    transition: all 500ms ease;
}
.body-card{
    height: 400px; 
    text-align: center;
    padding: 10px;  
    flex-wrap: nowrap; 
    font-size: 0.8rem;
}

.transform{
    opacity: 0;
    transform: translateY(90px);

}

.titulo-card{
    height: 40px;
}

@media (max-width: 1200px) {
    .cont-servicios{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-cont{
        width: 80%;
    }

    .body-card{
        height: auto;
    }
}

/*fonts */

@font-face {
    font-family:merri;
    src: url(../../public/fonts/Merriweather-Light.ttf);
}

@font-face {
    font-family: merribig;
    src: url(../../public/fonts/Merriweather-Bold.ttf);
}


/* seccion de llamados a la accion */

.cont-llamado{
    margin-top: 70px;
    height: 300px;
    background: url(../../public/working-791849_1280\ \(1\).webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.whatsapp{
    background-image: url(../../public/wtpp.png);
    background-size: cover;
    height: auto;
    width: 50px;
    height: 50px;
}

.whatsapp:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.whatsflotante{
    
    background-image: url(../../public/icons8-whatsapp-96.png);
    background-size: cover;
    width: 70px;
    height: 70px;
    z-index: 1;
    position: fixed;
    top: 500px;
    right: 0;
    animation: mover 1s ease-in  infinite;
    cursor: pointer;

}

@keyframes mover {
    0%{right: 0;}
    50%{right:10px}   
    100%{right:0px}   
}



.llamado-contenedor{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background: rgba(36, 36, 241, 0.106);
    backdrop-filter: blur(5px);
    top: 0;
    flex-direction: column;
}

.texto{
    display: flex;
    justify-content: space-around;
    width: 70%;
}


/* seccion clientes*/

.cont-clientes{
    width: 100%;
    min-height: 500px;
    margin-top: 30pxs;
    background: white;
    padding: 10px;
}

.cont-clientes-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.card-cliente{
    width: 300px;
    height: 400px;
    background:#f5f5f5;
    border-radius: 20px;

}

/*seccion productos*/

.cont-productos{
    height: 400px;
    background: #f5f5f5;
}

.cont-productos-card{
    display: flex;
    justify-content: space-around;
    gap: 20px;

}

.cont-herramientas{
    height: 400px;
    background: white;
    
}

footer{
    height: 200px;
    background: #3c60fc;
}

.header-villa{
    background-image: url(/imagenes/sistema\ de\ gestion\ villa\ \ -logos_transparent.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 600px) {
    .cont-productos-card{
        flex-direction: column;
        align-items: center;
    }

    .cont-clientes-card{
        flex-direction: column;
        align-items: center;
    }
    
}

/* flecha para devolverse*/

.flecha{
position: relative;
position: fixed;
top: 300px;
right: 40px;
transition: all ease 400ms;
}

.noVisible{
    display: none;
}

.flecha::before{
    content: "";
    width: 45px;
    height: 45px;
    background: rgba(124, 124, 124, 0.155);
    position: absolute;
    top: -10px;
    left: -11px;
    opacity: 0;
    border-radius: 100%;
    animation: ondas 1s ease-in infinite;
}
.flecha img{
    width: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;

}

@keyframes ondas{
    0%{opacity: 0; transform: scale(0.5);}
    15%{transform: scale(0.7);}
    50%{opacity: 1; transform: scale(1.2);}
    100%{opacity: 0; transform: scale(1.3);}
}

@media (max-width: 600px) {

 .cont-ventajasTexto{
    display: flex;
    flex-direction: column;
    
 }
 .cont-contacto{
    flex-direction: column;
 }

 .ventaja-card{
    width: 100%;
    height: 400px;
    
 }
 .cont-ventajas{
    
 }
 .cont-titulo2V{
    width: 100%;
 }
 .cont-textoPersuasivo{
    height: auto;
 }

 .visible{
    opacity: 100%;
    transform: translateX(0);
    }
}